@import '../../jspm_packages/npm/foundation-sites@6.2.1/scss/foundation';

@include foundation-everything(true)

@import '../../ts/widgets/widget';


.widget-ready{
  border: ridge;
  border-color: green;
}

.widget-loading{
  border: ridge;
  border-color: yellow;
}

.widget-error{
  border: ridge;
  border-color: red;
}